* {
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }


.bloque1 {
background-color: black;
width: 1200px;
height: 250px;
display: flex;
flex-direction: column;
padding: 20px;
justify-content: space-around;
margin-bottom: 20px;;

}

    .azul {
        background-color: #545B86;
        height: 90px;

        display: flex;
    }
        .azul_columna1{
            flex: 1 auto;
            margin: 20px;
            background-color: #c44343;
            height: 40px;
            align-self: center;

        }
        .azul_columna2{
            flex: 1 auto;
            margin: 20px;
            background-color: #c44343;
            height: 40px;
            align-self: center;
            flex-grow: 3;

        }
        .azul_columna3{
            flex: 1 auto;
            margin: 20px;
            background-color: #c44343;
            height: 40px;
            align-self: center;

        }

    .naranja {
        background-color: #e08823;
        height: 90px;
        display: flex;
        
    }
        .naranja_columna1 {
            flex: 1 auto;
            background-color: #ffc039;
            height: 40px;
            align-self: center;
            margin: 20px;

        }


.bloque2 {
    background-color: black;
    width: 1200px;
    height: 250px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    }

    .gris {
        flex-basis: 60%;
        background-color: #54566e;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        margin-right: 20px;
        
    }
    
        .gris_fila1 {
            background-color: #4b6cc5;
            flex: 1 300px;
            margin: 10px;
            padding: 10px;
                     
        }
        .gris_fila2 {
            background-color: #4b6cc5;
            flex: 1 300px;
            margin: 10px;
            padding: 10px;
        }    
        .gris_fila3 {
            background-color: #4b6cc5;
            flex: 1 300px;
            margin: 10px;
            padding: 10px;
            
        }
        .gris_fila4 {
            background-color: #4b6cc5;
            flex: 1 300px;
            margin: 10px;
            padding: 10px;
        }

        .gris_fila5 {
   
            background-color: #65b6ca;
            flex: 1 300px;
            margin: 10px;
            padding: 10px;
        
        }

    .rojo {
        flex-basis: 40%;
        background-color: #be4040;
        display: flex;
        flex-direction: column; 

    }
        .rojo_columna1{
            background-color: #ebcf73;
            height: 30px;
            margin: 10px;
        }
        .rojo_columna2{
            background-color: #ebcf73;
            height: 30px;
            margin:10px;
        }


.bloque3 {
    background-color: black;
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
        
 }
    .amarillo_footer {
        background-color: #ebc41a;
        height: 90px;
    }
        