//custom
$primary:#5265E1;
$secondary: #FA5959;
//import boostrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.polygon {
    background: $primary;
    -webkit-clip-path: inset(10% 0% round 100% 0% 100% 100% 10% 100% round);
}