//custom
$primary:#5265E1;
$secondary: #FA5959;


*{
    margin: 0;
    padding: 0;
}

.navbar-expand-lg {
    padding: 4rem;
}
   
.nav-item {
    padding: 0 2rem;
    margin-right: 2rem;
}
#boton {
    padding: 0 2rem;
    margin-right: 2rem;
    background-color: $secondary;
    color: white;

    &:hover {
        border-color: $secondary !important;
        background-color: white !important;
        color: $secondary !important;
    }
}
.col_txt {
    padding: 3rem;
}
.col {
    padding:7rem;
}

.container_img_pol {
    position: relative;
}
.imagen {
    z-index: 2;
    position:absolute;
    left: 40px; 
    top: 40px;
    

    &_img {
        background: linear-gradient(rgb(63, 63, 63), rgb(63, 63, 63)) padding-box, linear-gradient(to right, rgb(68, 68, 68), rgb(0, 0, 0)) border-box;
        border-radius: 1.8rem;
        border: 0.8rem solid transparent;
        -webkit-box-shadow: 0px 16px 35px -4px rgba(0,0,0,0.41);
        -moz-box-shadow: 0px 16px 35px -4px rgba(0,0,0,0.41);
        box-shadow: 0px 16px 35px -4px rgba(0,0,0,0.41);
        }
}
.polygon {
    height: 20rem;
    z-index: 1;
    position: relative;
    left: 15rem; 
    top: 12rem;
}

//import boostrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';